@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@import "tailwindcss";

* {
  scroll-behavior: smooth;
}
html{
  scroll-behavior: smooth;
}
@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply text-slate-gray text-lg leading-7;
    font-family: 'Montserrat', sans-serif;
  }
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@theme {
  /* Font families */
  --font-family-sans: 'Montserrat', sans-serif;
  --font-family-palanquin: 'Palanquin', sans-serif;
  /* Font sizes */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --font-size-3xl: 28px;
  --font-size-4xl: 48px;
  --font-size-8xl: 96px;

  /* Line heights */
  --line-height-xs: 16px;
  --line-height-sm: 20px;
  --line-height-base: 20px;
  --line-height-lg: 22px;
  --line-height-xl: 24px;
  --line-height-2xl: 29px;
  --line-height-3xl: 50px;
  --line-height-4xl: 58px;
  --line-height-8xl: 106px;

  /* Colors */
  --color-primary: #ECEEFF;
  --color-coral-red: #FF6452;
  --color-slate-gray: #6D6D6D;
  --color-pale-blue: #F5F6FF;
  --color-white-400: rgba(255, 255, 255, 0.80);

  /* Box shadow */
  --shadow-3xl: 0 10px 40px rgba(0, 0, 0, 0.1);

  /* Screen sizes */
  --screen-wide: 1440px;

  /* Background Images */
  --bg-image-hero: url('@/assets/images/collection-background.svg');
  --bg-image-card: url('../assets/images/thumbnail-background.svg');
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
